@import "src/variables.module";

.wrapper {
  padding: 200px 75px;
}

.textBlock {
  display: inline-block;
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  max-width: 410px;
  margin: 110px 0 0 30px;
  &Wrapper {
    display: flex;
  }
}

.about {
  margin-right: 155px;
}

.textWrapper {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
}

.imgWrapper {
  max-width: 65%;
  min-width: 30%;
  img {
    display: block;
    width: 100%;
  }
}

@media (max-width: $MOBILE-LARGE) {
  .imgWrapper {
    max-width: 100%;
  }
  .wrapper {
    padding: 60px 25px 0 25px
  }
  .textWrapper {
    display: block;
    margin-bottom: 10px;
  }
  .textBlock {
    max-width: 100%;
    margin: 30px 0 0 0;
    &Wrapper {
      display: block;
    }
  }
}
