@import "../../variables.module";

.wrapper {
  padding: 50px 75px;
}

.title {
  margin-bottom: 50px;
}

@media (max-width: $MOBILE-LARGE) {
  .wrapper {
    padding: 50px 20px 20px 20px;
    margin: 60px 0 0 0;
  }
  .more {
    margin-top: 0;
  }
}
