@import "src/variables.module";

.wrapper {
  position: relative;
  padding: 64px 0 64px 42px;
  font-size: $FZ-TITLE;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 3s ease-out;
  z-index: 100;
}


details summary {
  cursor: pointer;
  transition: margin 0.5s ease-out;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Wrapper {
    font-family: "Poppins-Light", sans-serif;
  }
}

details[open] summary {
  margin-bottom: 50px;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.title {
  max-width: 40%;
  position: absolute;
  z-index: 1000;
  color: white;
}

.plus {
  cursor: pointer;
  &:hover, &:active, &:focus {
    transform: rotate(45deg);
    transition: .8s all;
  }
}

.plusImg:hover {
  filter: brightness(0.5);
}

.serviceWrapper {
  display: flex;
  position: relative;
  &Left, &Right {
    width: 50%;
  }
  &Right {
    padding: 0 6%;
  }
}

.paragraph {
  font-family: "Poppins-ExtraLight", sans-serif !important;
}


@media (max-width: $MOBILE-LARGE) {
  details[open] summary {
    margin-bottom: 20px;
  }
  .wrapper {
    padding: 20px 0;
    font-size: 17px;
  }
  .serviceWrapper {
    display: block;
    &Left, &Right {
      width: 100%;
      padding: 0;
    }
  }
}
