@import "src/variables.module";

.title {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: $FZ-PAGE-TITLE;
  font-weight: bold;
}

@media (max-width: $MOBILE-LARGE) {
  .title {
    font-size: 35px;
    line-height: 45px;
  }
}
