@import "../../variables.module";

.wrapper {
  position: relative;
  height: 100vh;
  background: url("../../assets/img/homePage.svg") no-repeat scroll;
  background-size: cover;
  padding: 50px 75px;
}

.btnWrapper {
  position: absolute;
  bottom: 150px;
}

@media (max-width: $MOBILE-LARGE) {
  .wrapper {
    padding: 20px;
    background-position: center;
  }
  .btnWrapper {
    position: absolute;
    width: calc(100% - 40px);

    button {
      position: absolute;
      width: 100%;
    }
  }

}
