@import "src/variables.module";


.wrapper {
  padding: 50px 0;
  margin-bottom: 50px;
}

.projectContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.projectDescription {
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins-Light", sans-serif;
  margin-bottom: 15px;
}
.projectTeam {
  display: block;
  font-size: 24px;
  line-height: 36px;
  width: 315px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}
.descriptionContainer {
  max-width: $WIDTH-PROJECT-IMG;
  max-height: $HEIGHT-PROJECT-IMG;
  width: 70%;
}
.projectNameContainer {
  line-height: 1.313rem;
}
.title {
  text-transform: uppercase;
  font-size: $FZ-TITLE;
  width: 410px;
  line-height: 30px;
  font-family: "Poppins-Light", sans-serif;
}
.linkRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  img {
    margin-top: 10px;
  }
}
.arrowLink {
  transform: translateY(8px);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: $MOBILE-LARGE) {
  .wrapper {
    padding: 20px 0;
    font-size: 18px;
    margin-bottom: 0;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .projectTeam {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .projectNameContainer {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .projectContainer {
    flex-direction: column;
  }
  .descriptionContainer {
    width: 100%;
  }
}


