$FZ-PAGE-TITLE: 60px;
$FZ-TITLE: 24px;
$FZ-LOGO: 23px;
$FZ-BODY-LIGHT: 18px;
$FZ-BODY-REGULAR: 16px;
$FZ-CONTACTS-TEXT: 190px;
$LETTER-SPACING-LOGO: 1.313rem;
$LETTER-SPACING-BUTTON: 0.16rem;
$WIDTH-PROJECT-IMG: 960px;
$HEIGHT-PROJECT-IMG: 640px;
$WIDTH-FORM: 80%;
$HEIGHT-FORM: 75%;
$BTN_WIDTH: 190px;
$BTN_HEIGHT: 72px;


$LAPTOP-LARGE: 1441px;
$LAPTOP: 1025px;

$LAPTOP-LARGE-GALLERY: 1621px;
$LAPTOP-PROJECT-TEAM: 1165px;

$LAPTOP-HEADER: 975px;
$LAPTOP-MEDIUM-HEADER: 1200px;

$LAPTOP-FOOTER: 1587px;
$TABLET-FOOTER: 1115px;
$TABLET-SMALL-TABLET: 843px;

$MOBILE-LARGE: 769px;
